:root {
  --uranium-blue: #b4e1ff;
  --night: #151515;
  --princeton-orange: #ff9505;
  --selective-yellow: #ffb627;
  --redwood: #a63d40;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: url("./img/coloured-fishes-collection.png") var(--uranium-blue);
  background-size: 120px;
}

body > div {
  width: 100vw;
  height: 100vh;

  overflow: scroll;
}

nav {
  height: 80px;
  background-color: var(--selective-yellow);
  position: relative;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  height: 100%;
  padding: 0;

  list-style: none;
}

nav button {
  font-weight: bold;
  opacity: 0.6;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.nav-logo {
  width: 60px;

  position: absolute;
  top: 10px;
  right: 10px;
}

.active {
  opacity: 1;
}

main {
  margin: 10vh 20vw;
  padding: 30px 0;
  background-color: var(--selective-yellow);
  min-height: 100vh;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.heading {
  text-align: center;

  background-color: var(--princeton-orange);
  margin: 0 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-logo {
  height: 70px;
}

.container {
  margin: 70px 130px 0;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content:has(.owner) {
  padding-top: 40px;
}

.content {
  background-color: var(--princeton-orange);
  padding: 10px;
  position: relative;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.owner {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;

  margin-right: 10px;
  margin-top: 20px;
}

.content img {
  position: absolute;
  top: -28%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);

  width: 100px;
}

.content ul {
  padding: 0;

  list-style: none;
}

.heading,
.subheading,
.content {
  border: 5px solid var(--redwood);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.hidden {
  display: none;
}

#menu h2 {
  font-size: 1.5rem;
  margin: 0;
}

.subheading {
  background-color: var(--princeton-orange);
  text-align: center;

  margin: 20px 70px 0;
  padding: 5px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subheading img {
  width: 50px;
}

h3 {
  margin-bottom: 10px;
}

.price {
  margin-top: 10px;
}

#contacts ul {
  padding: 0;
}

footer {
  text-align: center;
  background-color: var(--selective-yellow);
}

.attribution {
  --ptb: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 5px;

  padding-top: var(--ptb);
  padding-bottom: var(--ptb);
  list-style-type: none;
}

.attribution a {
  text-decoration: none;
  color: inherit;
}

.myname {
  background-color: var(--princeton-orange);
  padding: 10px;
}
